/* ===== DASHBOARD ===== */

/* ===== CARDS ===== */
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
}

.card {
  background: var(--cor-clara);
  border-radius: 10px;
  padding: 20px;
  box-shadow: var(--sombra);
  transition: var(--transicao);
  cursor: pointer;
}

.card:hover {
  transform: translateY(-5px);
}

/* ===== GRÁFICOS ===== */
.graficos {
  background: var(--cor-clara);
  border-radius: 10px;
  padding: 20px;
  text-align: center;
}

.graficos canvas {
  width: 100% !important;
  height: 50vh !important;
}

/*===== TABELA ===== */
.tabela-pedidos { 
    background: var(--cor-clara); 
    border-radius: 10px; 
    box-shadow: var(--sombra); 
    padding: 20px; 
}

.tabela-pedidos table { 
    width: 100%; 
    border-collapse: collapse; 
} 

.tabela-pedidos th, 
.tabela-pedidos td { 
    text-align: left; 
    padding: 12px 10px; 
    border-bottom: 1px solid var(--cor-secundaria); 
    font-size: 0.95rem; 
} 

.tabela-pedidos th { 
    color: var(--cor-escura); 
} 

.status { 
    padding: 5px 10px; 
    border-radius: 20px; 
    font-weight: 600; 
    color: #fff; 
    font-size: 0.8rem; 
}  

.status.entregue { background: #6cbf77; }
.status.pendente { background: #e3c565; color: #333; }
.status.em-transito { background: #8bb7c1; }
