/* ===== RESPONSIVIDADE ===== */
@media (max-width: 768px) {
  .titulo-pagina {
    display: none;
  }

  .nome-admin {
    display: none;
  }

  .header {
    padding: 10px 15px;
  }

  .perfil img {
    width: 35px;
    height: 35px;
  }

   .sidebar {
     left: -230px;
   }

  .sidebar.abrir {
    left: 0;
  }

  .conteudo {
    margin-left: 0;
    padding-top: 90px;
  }

   .tabela-pedidos table {
    font-size: 0.85rem;
  }
}

@media (max-width: 480px) {
  .logo {
    font-size: 1.2rem;
  }

  .btn-icone {
    font-size: 1.1rem;
  }
}